# Environments
.env
.venv
venv/
env/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac/OS
.DS_Store

# IDEs and Tools
.vscode/
.idea/
*.swp
*.sqlite3
*.sqlite
# Logs
*.log

# Windows internal reserved name
nul
